
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, rgb(212, 181, 67) 25%, #bbb 75%);
    margin: 0;
    padding: 0;
}

.shelf {
    width: 520px;
    height: 20px;
    background-color: #5a3f21;
    position: relative;
}

.clock {
    width: 110px;
    height: 110px;
    background-color: white;
    border: 10px solid #5aa668;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    top: -135px;

}

.knot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.hand {
    width: 4px;
    height: 50px;
    background-color: #5a3f21;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    transform-origin: bottom;
}

.hour-hand {
    height: 30px;
    transform: translate(-50%, -100%) rotate(45deg);
}

.min-hand {
    height: 40px;
    width: 3px;
    transform:translate(-50%, -100%) rotate(160deg) ;
}

.second-hand {
    height: 47px;
    width: 2px;
    transform:translate(-50%, -100%) rotate(-40deg) ;
}

.ear-left {
    height: 30px;
    width: 60px;
    background-color: #5aa668;
    position: absolute;
    left: -38px;
    top: -12px;
    border-radius: 90px 90px 0 0;
    transform: rotate(-50deg);
}

.ear-left::after {
    content: "";
    width: 15px;
    height: 8px;
    background-color: red;
    position: absolute;
    top: -9px;
    left: 23px;
    border-radius: 90px 90px 0 0;
}

.ear-right {
    height: 30px;
    width: 60px;
    background-color: #5aa668;
    position: absolute;
    right: -38px;
    top: -12px;
    border-radius: 90px 90px 0 0;
    transform: rotate(50deg);
}

.ear-right::after {
    content: "";
    width: 15px;
    height: 8px;
    background-color: red;
    position: absolute;
    top: -9px;
    right: 23px;
    border-radius: 90px 90px 0 0;
}

.clock-foot-left {
    position: absolute;
    height: 50px;
    width: 12px;
    background-color: #5a3f21;
    left: 20px;
    bottom: -25px;
    transform: rotate(20deg);
    z-index: -1;
}

.clock-foot-right {
    position: absolute;
    height: 50px;
    width: 12px;
    background-color: #5a3f21;
    right: 20px;
    bottom: -25px;
    transform: rotate(-20deg);
    z-index: -1;
}

.book-1 {
    width: 40px;
    height: 170px;
    background-color: #9d374f;
    position: absolute;
    left: 210px;
    top: -170px;
}

.book-1::before {
    content: "";
    width: 100%;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 0;
}

.book-1::after {
    content: "";
    width: 50%;
    height: 100%;
    background-color: black;
    opacity: 0.15;
    position: absolute;
    right: 0;
    top: 0;
}

.book-2 {
    width: 40px;
    height: 195px;
    background-color: #e86830;
    position: absolute;
    left: 250px;
    top: -195px;
}

.book-2::before {
    content: "";
    width: 100%;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 0;
}

.book-2::after {
    content: "";
    width: 50%;
    height: 100%;
    background-color: black;
    opacity: 0.15;
    position: absolute;
    right: 0;
    top: 0;
}

.book-3 {
    width: 40px;
    height: 180px;
    background-color: #5aa668;
    position: absolute;
    left: 290px;
    top: -180px;
}

.book-3::before {
    content: "";
    width: 100%;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 0;
}

.book-3::after {
    content: "";
    width: 50%;
    height: 100%;
    background-color: black;
    opacity: 0.15;
    position: absolute;
    right: 0;
    top: 0;
}

.cactus {
    width: 100px;
    height: 180px;
    position: absolute;
    left: 380px;
    top: -180px;
}

.pot {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
}

.pot-bottom {
    width: 100%;
    height: 70%;
    position: absolute;
    bottom: 0;
    background-color: #5a3f21;
}

.pot-top {
    width: 140%;
    height: 30%;
    background-color: #a03d12;
    position: absolute;
    top: 0;
    left: -20%;
}

.plant-left {
    width: 45%;
    height: 35%;
    background-color: #5aa668;
    position: absolute;
    bottom: 50%;
    left: 5%;
    border-radius: 50px 50px 0 0;
}

.plant-right {
    width: 45%;
    height: 50%;
    background-color: #5aa668;
    position: absolute;
    bottom: 50%;
    right: 5%;
    border-radius: 50px 50px 0 0;
}