* {
  box-sizing: border-box !important;
}

body{
  margin: 0;
  padding: 0;
  background: whitesmoke;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diamond {
  position: relative;
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
  animation: glowing 5s ease-in-out infinite;
  transition: animation 5s;
}

span:nth-child(1) {
position: absolute;
top: 0;
left: 0;
width: 0;
height: 0;
border-top: 50px solid transparent;
border-right: 50px solid #20bc7c;
border-bottom: 50px solid #26c893;
border-left: 50px solid transparent;
}

span:nth-child(2) {
position: absolute;
top: 0;
right: 0;
width: 0;
height: 0;
border-top: 50px solid #1fb67c;
border-right: 50px solid #20bc7c;
border-bottom: 50px solid #26c893;
border-left: 50px solid #55ddb9;
}

span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 50px solid #1fb67c;
  border-right: 50px solid #20bc7c;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;
  }

  span:nth-child(4) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 50px solid #1fb67c;
    border-right: 50px solid #20bc7c;
    border-bottom: 50px solid #26c893;
    border-left: 50px solid #55ddb9;
    }

@keyframes glowing {
0% {box-shadow: 5px 10px white;}
50% {box-shadow: 10px 20px lightseagreen;}
100% {box-shadow: 5px 10px #e6ffff;}
  }